# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
tpl=tuple(range(1,11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [10]:
first,*middle,last=tpl
print("First element:",first)
print("Middle element:",tuple(middle))
print("last element:",last)

First element: 1
Middle element: (2, 3, 4, 5, 6, 7, 8, 9)
last element: 10

In [12]:
print("first element:",tpl[0])
print("Middle element:",tpl[1:-1])
print("last element:",tpl[-1])

first element: 1
Middle element: (2, 3, 4, 5, 6, 7, 8, 9)
last element: 10

In [16]:
print(f"first element:{tpl[0]}")
print(f"Middle element:{tpl[len(tpl) // 2]}")
print(f"last element:{tpl[-1]}")

first element:1
Middle element:6
last element:10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [21]:
print(f"first three elements:{tpl[:3]}")
print(f"last three elements:{tpl[-3:]}")
print(f"elements from index 2 to 5:{tpl[2:6]}")

first three elements:(1, 2, 3)
last three elements:(8, 9, 10)
elements from index 2 to 5:(3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [24]:
matrix=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print("matrix")
for mat in matrix:
    print(mat)
print(f"element at the second row and third column:{matrix[1][2]} ")

matrix
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
element at the second row and third column:6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [25]:
tpl1=(1,2,3)
tpl2=(4,5,6)
convatenation=tpl1+tpl2
print("convatenation",convatenation)

convatenation (1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [28]:
tpl=(1,2,3,3,4,5,5,6,7)
print(f"occurrences of 5: {tpl.count(5)}")
print(f"index of the first occurrence of an 3:{tpl.index(3)}")

occurrences of 5: 2
index of the first occurrence of an 3:2

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [30]:
tpl=(1,2,3,4,5)
print(tpl)
print("unpack")
a,b,c,d,e=tpl
print(a,b,c,d,e)

(1, 2, 3, 4, 5)
unpack
1 2 3 4 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [32]:
list=[1,2,3,4,5]
tpl=tuple(list)
print(tpl)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [33]:
tpl_of_tpls=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print("tuple of tuples",tpl_of_tpls)

tuple of tuples ((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [ ]:
tpl = (1, 2, 3, 4, 5)
lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(tpl)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [49]:
string="hello"
tpl=tuple(string)
joined_string=''.join(tpl)
print(joined_string)

hello

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [52]:
student={
    ("First_rank","Sanskar"):96,
    ("Second_rank","Rohit"):89,
    ("third_rank","Madhav"):80
}
print(student)

{('First_rank', 'Sanskar'): 96, ('Second_rank', 'Rohit'): 89, ('third_rank', 'Madhav'): 80}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [55]:
nested_tuples=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
for tpl in nested_tuples:
    for elem in tpl:
        print(elem)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [56]:
dup_tpl=(1,2,3,4,4,4,5,6,7,7)
unique_set=set(dup_tpl)
print(unique_set)

{1, 2, 3, 4, 5, 6, 7}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
def min_tuple(elem):
    return min(elem)

def max_tuple(elem):
    return max(elem)

def sum_of_tuple(elem):
    return sum(elem)

sample_tuple=(1,2,3,4,5,6)

min=min_tuple(sample_tuple)
max=max_tuple(sample_tuple)
sums=sum_of_tuple(sample_tuple)

print("Minimum:",min)
print("Maximum:",max)
print("Sum:",sums)



# samples=sample_tuple():

Minimum: 1
Maximum: 6
Sum: 21