## 1. Syntax and Semantics

**Question 1:** Write a Python program to print "Hello, World!".

In [ ]:
# Solution
print("Hello, World!")

Hello, World!

**Question 2:** Write a Python program that takes a user input and prints it.

In [ ]:
# Solution
user_input = input("Please enter something: ")
print(f"You entered: {user_input}")

You entered: 12

**Question 3:** Write a Python program to check if a number is positive, negative, or zero.

In [ ]:
# Solution
number = float(input("Enter a number: "))
if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is positive.

**Question 4:** Write a Python program to find the largest of three numbers.

In [ ]:
# Solution
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
    largest = num1
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
else:
    largest = num3

print(f"The largest number is {largest}")

The largest number is 45.0

**Question 5:** Write a Python program to calculate the factorial of a number.


n!=n×(n−1)×(n−2)×...×2×1
Example:
5!=5×4×3×2×1=120

In [ ]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n * factorial(n-1)
    
num=int(input("Enter the number"))
print(f"The factorial of {num} is {factorial(num)}")

The factorial of 5 is 120

In [ ]:
num=int(input("Enter a number"))
fact=1

for i in range(1,num+1):
    fact*=i
print(f"the factorial of {num} is {fact}")

the factorial of 6 is 720

## 2. Variables and Data Types

**Question 6:** Create variables of different data types: integer, float, string, and boolean. Print their values and types.

In [ ]:
# Solution
integer_var = 10
float_var = 10.5
string_var = "Hello"
boolean_var = True

print(f"Integer value: {integer_var}, type: {type(integer_var)}")
print(f"Float value: {float_var}, type: {type(float_var)}")
print(f"String value: {string_var}, type: {type(string_var)}")
print(f"Boolean value: {boolean_var}, type: {type(boolean_var)}")

Integer value: 10, type: <class 'int'>
Float value: 10.5, type: <class 'float'>
String value: Hello, type: <class 'str'>
Boolean value: True, type: <class 'bool'>

**Question 7:** Write a Python program to swap the values of two variables.

In [ ]:
# Solution
a = 5
b = 10
print(f"Before swap: a = {a}, b = {b}")

# Swapping
a, b = b, a
print(f"After swap: a = {a}, b = {b}")

Before swap: a = 5, b = 10
After swap: a = 10, b = 5

**Question 8:** Write a Python program to convert Celsius to Fahrenheit.

In [ ]:
# Solution
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(f"{celsius}°C is equal to {fahrenheit}°F")

12.4°C is equal to 54.32°F

**Question 9:** Write a Python program to concatenate two strings.

In [ ]:
# Solution
string1 = "Hello"
string2 = "World"
concatenated_string = string1 + " " + string2
print(concatenated_string)

Hello World

**Question 10:** Write a Python program to check if a variable is of a specific data type.

In [ ]:
var=20.1
if isinstance(var,float):
    print(f"{var} is a flaot")
else:
    print(f"{var} is not flaot")

20.1 is a flaot

In [ ]:
var="sanskar"
if isinstance(var,str):
    print(f"{var} is a string")
else:
    print(f"{var} is not string")

sanskar is a string

## 3. Basic Operators (Arithmetic, Comparison, Logical)

**Question 11:** Write a Python program to perform arithmetic operations: addition, subtraction, multiplication, and division.

In [ ]:
a=5;b=6

print(f"addition is {a}+{b}={a+b}")
print(f"subtraction:{a}-{b}={a-b}")
print(f"multiplication:{a}*{b}={a*b}")
print(f"Division {a}/{b}={a/b}")

addition is 5+6=11
subtraction:5-6=-1
multiplication:5*6=30
Division 5/6=0.8333333333333334

**Question 12:** Write a Python program to demonstrate comparison operators: equal to, not equal to, greater than, less than.

In [ ]:
a=5
b=3
print(f"a == b:{a==b}")
print(f"a!=b:{a!=b}")
print(f"a>b:{a>b}")
print(f"a<b:{a<b}")

a == b:False
a!=b:True
a>b:True
a<b:False

**Question 13:** Write a Python program to demonstrate logical operators: and, or, not.

In [ ]:
a=True
b=False

print(f"a and b: {a and b}")
print(f"a or b: {a or b}")
print(f"b: {not b}")
print(f"a:{not a}")

a and b: False
a or b: True
b: True
a:False

**Question 14:** Write a Python program to calculate the square of a number.

In [ ]:
num=int(input("Enter a number"))
square=num**2
print(f"The square of {num} is {square}")

The square of 2 is 4

In [ ]:
x=2
cube=x**3
print(f"The   cube of {x} is {square} ")

The   cube of 2 is 8

**Question 15:** Write a Python program to check if a number is even or odd.

In [ ]:
num=int(input("Enter the number"))

if num%2==0:
    print(f"{num} is even ")
else :
    print(f"{num} is odd")

4 is even

**Question 16:** Write a Python program to find the sum of the first n natural numbers.

Sum= n(n+1)
       /2
​

In [ ]:
n=int(input("Enter the sum"))

sum=(n*(n+1))/2
print(sum)

15.0

In [ ]:
n=int(input("Enter the sum"))

sum=(n*(n+1))//2
print(sum)

ValueError: invalid literal for int() with base 10: ''

**Question 17:** Write a Python program to check if a year is a leap year.

Divisibility Rules:
A year is a leap year if:
It is divisible by 4 and not divisible by 100, or
It is divisible by 400.

In [ ]:
year=int(input("Enter the leap year"))
if(year % 4 == 0 and year % 100 !=0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

2025 is not a leap year.

**Question 18:** Write a Python program to reverse a string.

In [ ]:
# Solution
string = input("Enter a string: ")
reversed_string = string[::-1]
print(f"The reversed string is: {reversed_string}")

The reversed string is: raksnas

In [ ]:
number=input("Enter a number")
reversed_number=number[::-1]
print(f"reversed number :{reversed_number}")

reversed number :123456789

**Question 19:** Write a Python program to check if a string is a palindrome.

palindrome example=>
                   "radar" reversed is still "radar" → Palindrome → Returns True.
                   "hello" reversed is "olleh" → Not a palindrome → Returns False.

In [ ]:
# Solution
string = input("Enter a string: ")
if string == string[::-1]:
    print(f"{string} is a palindrome.")
else:
    print(f"{string} is not a palindrome.")

radar is a palindrome.

In [ ]:
number=input("Enter a number")
if number == number[::-1]:
    print(f"{number} is a palindrome")
else:
    print(f"{number} is not palindrome")

000 is a palindrome

**Question 20:** Write a Python program to sort a list of numbers in ascending order.

In [ ]:
# Solution
numbers = [int(x) for x in input("Enter numbers separated by space: ").split()]
numbers.sort()
print(f"Sorted list: {numbers}")

Sorted list: [68931]

In [ ]:
# Ascending order
number=[5,2,9,1,7]
number.sort()
print(number)

[1, 2, 5, 7, 9]

In [ ]:
# Descending order
number=[1,9,7,56,34,2]
descending=sorted(number,reverse=True)
print(descending)

[56, 34, 9, 7, 2, 1]

In [ ]:
## Determine if a year is a leap year using nested condition statement

year=int(input("Enter the year"))

if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year,"is a leap year")
        else:
            print(year,"is not a leap year")
    else:
        print(year,"is a leap year")
else:
    print(year,"is not a leap year")

In [ ]:
### Determine the ticket price based on age and whether the person is a student.
# Ticket pricing based on age and student status

# Take user input
age = int(input("Enter your age: "))
is_student = input("Are you a student? (yes/no): ").lower()

# Determine ticket price
if age < 5:
    price = "Free"
elif age <= 12:
    price = "$10"
elif age <= 17:
    if is_student == 'yes':
        price = "$12"
    else:
        price = "$15"
elif age <= 64:
    if is_student == 'yes':
        price = "$18"
    else:
        price = "$25"
else:
    price = "$20"

print("Ticket Price:", price)

In [7]:
cast=input("Enter the cast")
is_student=input("are you student(Y/N)").lower()

if cast=="SC".lower() or cast=="ST".lower():
    if is_student=="yes":
        print("you can take scholership better benefit ")
    else:
        print("you can't  take scholership better benefit")
elif cast=="OBC".lower():
    if is_student=="yes":
        print("you can take some scholership benefit ")
    else:
        print("you can't  take scholership benefit")
elif cast=="General".lower():
    if is_student=="yes":
        print("you can't take scholership benefit because you belong to general cast but take other  some benifit")
    else:
        print("you can't  take scholership benefit because you belong to general cast")

you can't  take scholership better benefit

Calculate an employee's bonus based on their performance rating and years of service.

In [ ]:
# Employee bonus calculation

# Take user input
years_of_service = int(input("Enter years of service: "))
performance_rating = float(input("Enter performance rating (1.0 to 5.0): "))

# Determine bonus percentage
if performance_rating >= 4.5:
    if years_of_service > 10:
        bonus_percentage = 20
    elif years_of_service > 5:
        bonus_percentage = 15
    else:
        bonus_percentage = 10
elif performance_rating >= 3.5:
    if years_of_service > 10:
        bonus_percentage = 15
    elif years_of_service > 5:
        bonus_percentage = 10
    else:
        bonus_percentage = 5
else:
    bonus_percentage = 0

# Calculate bonus amount
salary = float(input("Enter current salary: "))
bonus_amount = salary * bonus_percentage / 100

print("Bonus Amount: ${:.2f}".format(bonus_amount))

A simple user login system that checks the username and password.

In [10]:
# User login system

# Predefined username and password
stored_username = "admin"
stored_password = "password123"

# Take user input
username = input("Enter username: ")
password = input("Enter password: ")

# Check login credentials
if username == stored_username:
    if password == stored_password:
        print("Login successful!")
    else:
        print("Incorrect password.")
else:
    print("Username not found.")

Login successful!

### Assignment 1: Simple if Statement

Write a program that asks the user to input a number and prints whether the number is positive.

In [ ]:
number=int(input("Enter a number"))
if number>0:
    print(number)

number is negative -9

### Assignment 2: if-else Statement

Write a program that asks the user to input a number and prints whether the number is positive or negative.

In [ ]:
number=int(input("Enter the number"))
if number>0:
    print("Number is positive:",number)
else:
    print("Number is negative:",number)

Number is positive: 89

### Assignment 3: if-elif-else Statement

Write a program that asks the user to input a number and prints whether the number is positive, negative, or zero.

In [ ]:
number=int(input("Enter the number"))
if number>0:
    print("Number is positive:",number)
elif number<0:
    print("Number is negative:",number)
else:
    print("Number is Zero")

Number is negative: -3

### Assignment 4: Nested if Statement

Write a program that asks the user to input a number and prints whether the number is positive and even, positive and odd, or negative.

In [ ]:
number=int(input("Enter the number"))

if number > 0:
    if number % 2 == 0:
        print("positive and even")
    else:
        print("positive and odd")
else:
    print("Number is negative")

positive and odd

## Lesson 2.2: Loops
### Assignment 5: for Loop

Write a program that prints all the numbers from 1 to 10 using a for loop.

In [ ]:
for x in range(1,10+1):
    print(x)

1
2
3
4
5
6
7
8
9
10

### Assignment 6: while Loop

Write a program that prints all the numbers from 1 to 10 using a while loop.

In [ ]:
number=1
while number<=10:
    print(number)
    number+=1

1
2
3
4
5
6
7
8
9
10

### Assignment 7: Nested Loops

Write a program that prints a 5x5 grid of asterisks (*) using nested loops.

In [ ]:
for x in range(5):
    for j in range(5):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
row=int(input("Enter the row"))
column=int(input("Enter the column"))

for x in range(row):
    for y in range(column):
        print("@",end=" ")
    print()

@ @ @ @ @
@ @ @ @ @
@ @ @ @ @
@ @ @ @ @
@ @ @ @ @

### Assignment 8: break Statement

Write a program that asks the user to input numbers until they input 0. The program should print the sum of all the input numbers.

In [ ]:
total = 0
while True:
    number = float(input("Enter a number (0 to stop):"))
    if number == 0:
        break
    total += number
print(f"The sum of all the numbers is {total}.")

The sum of all the numbers is 2408.9.

### Assignment 9: continue Statement

Write a program that prints all the numbers from 1 to 10 except 5 using a for loop and continue statement.

In [ ]:
for i in range(1,11):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

### Assignment 10: pass Statement

Write a program that defines an empty function using the pass statement.

In [ ]:
def empty_function():
    pass

# Calling the empty function
empty_function()

In [ ]:
for x in range(1,10+1):
    if x==5:
        pass
    print(x)

1
2
3
4
5
6
7
8
9
10

### Assignment 11: Combining Loops and Conditionals

Write a program that asks the user to input a number and prints all the even numbers from 1 to that number using a for loop.

In [ ]:
number=int(input("Enter a number"))

for i in range(1,number+1):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

### Assignment 12: Factorial Calculation

Write a program that calculates the factorial of a number input by the user using a while loop.

In [ ]:
number=int(input("Enter a fac number"))
factorial=1
i=1
while(i<=number):
    factorial*=i
    i+=1 
print(f"The factorial of {number} is {factorial}")

The factorial of 5 is 120

### Assignment 13: Sum of Digits

Write a program that calculates the sum of the digits of a number input by the user using a while loop.

sum_for=n(n+1)/2

In [ ]:
number=int(input("Enter the sum"))
sum=0
i=1
while(i<=number):
    i+=1
    sum=number*(number+1)//2
print(sum)

28

In [ ]:
n=10   
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1

print("Sum of first 10 natural number:",sum)

Sum of first 10 natural number: 55

### Assignment 14: Prime Number Check

Write a program that checks if a number input by the user is a prime number using a for loop.


**prime number only divisible by one and itself**

In [ ]:
number=int(input("Enter number for check the prime number"))
for i in range(1,number):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
                print("Prime",i)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
number=int(input("Enter a number for finding prime number"))
for i in range(2,number):
    if number%i==0:
        print("not prime")
        break
else:
        print("prime",number)

prime 3

### Assignment 15: Fibonacci Sequence

Write a program that prints the first n Fibonacci numbers, where n is input by the user.

**Example**[0][1][1][2][3][5][8][13][21]

In [ ]:
n = int(input("Enter the number of Fibonacci numbers to print: "))
a, b = 0, 1
count = 0
while count < n:
    print(a)
    a, b = b, a + b
    count += 1

1
2
3

In [ ]:
n = int(input("Enter the number of Fibonacci numbers to print: "))
a, b = 0, 1
print(a)
print(a)
count = 2
while count < n:
    c=a+b
    a=b
    b=c
    print(c)
    count += 1

0 1
1
2

In [ ]:
number=int(input("Enter a number"))
a=0
b=1
print(a)
print(b)
for i in range(2,number):
    c=a+b
    a=b
    b=c
    print(c)

In [ ]:
def fib(n):
    
  a=0
  b=1
  print(a)
  print(b)

  for x in range(2,n):
    c=a+b
    a=b
    b=c
    print(c) 
fib(5)

0
1
1
2
3

# Module 3: Data Structures Assignments
## Lesson 3.1: Lists
### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

In [ ]:
lst=[]
for number in range(1,21):
    lst.append(number)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
lst = list(range(1, 21))
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

In [ ]:
print(f"First element:{lst[0]}")
print(f"First element:{len(lst)//2}") 
print(f"last element: {lst[-1]}")

First element:1
First element:10
last element: 20

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

In [ ]:
print(f"first five element:{lst[:5]}")
print(f"last five element: {lst[-5:]}")
print(f"Elements from index 5 to 15:{lst[5:16]}")

first five element:[1, 2, 3, 4, 5]
last five element: [16, 17, 18, 19, 20]
Elements from index 5 to 15:[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

In [ ]:
Square=[x**2 for x in range(1,11)]
print(Square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

In [ ]:
evens = [even for even in lst if even % 2 == 0]
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [ ]:
# only random 10 value print from (1,100)
import random

for number in range(10):
    print(random.randint(1,100))

39
48
91
85
86
12
36
12
19
20

In [ ]:
import random
random_number=[random.randint(1,100) for number in range(10)]
print(random_number)

sorted_number=sorted(random_number)
print(f"Sorted in ascending order: {sorted_number}")

sorted_number=sorted(random_number,reverse=True)
print(f"sorted in descending order: {sorted_number}")

unique_number=list(set(random_number))
print(f"List with duplicate removed :{unique_number}")

### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [ ]:
matrix=[
    [1,2,3],
    [4,5,6],
    [7,8,9]                                         
]
print("Matrix:")
for proper in matrix:
    print(proper)
print(f"element at the second row and third column:{matrix[1][2]}")

Matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
element at the second row and third column:6

### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [ ]:
Student=[{"name":"sanskar","score":90},
         {"name":"ayush","score":80},
         {"name":"harsh","score":78},
         {"name":"shivam","score":65}
         ]

sorted_student=sorted(Student,key=lambda x: x["score"],reverse=True) 
for student in sorted_student:
    print(student)

{'name': 'sanskar', 'score': 90}
{'name': 'ayush', 'score': 80}
{'name': 'harsh', 'score': 78}
{'name': 'shivam', 'score': 65}

### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [ ]:
def transpose_matrix(matrix):
    transposed=[[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
    return transposed

matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
transposed=transpose_matrix(matrix)
print("original matrix")
for row in matrix:
    print(row)
print("Transposed matrix")
for row in transposed:
    print(row)

original matrix
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Transposed matrix
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

In [ ]:
def flattened_lists(nested_list):
    flat_list = [item for sublist in nested_list for item in sublist]
    return flat_list

nested_list=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

flattened=flattened_lists(nested_list)
print("original list")
print(nested_list)
print("flattened list")
print(flattened)

original list
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened list
[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

In [ ]:
list=[lst for lst in range(1,11)]
# for lst in range(1,11):
#     list.append(lst)

print(list)
list.remove(2)
list.remove(4)
list.remove(6)
list.insert(5,99)
print(f"Modified list:{list}")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Modified list:[1, 3, 5, 7, 8, '99', 9, 10]

In [ ]:
list=[lst for lst in range(1,10+1)]
print(list)

del list[2]
del list[4]
del list[6]
list.insert(5,99)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 4, 5, 7, 99, 8, 10]

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c', 'd', 'e']
zipped = list(zip(list1, list2))
print(zipped)

TypeError: 'list' object is not callable

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

In [ ]:
def revers_list(lst):
    return lst[::-1]
 
original_list=[1,2,3,4,5]
reversed_list=revers_list(original_list)
print(f"Original list:{original_list}")
print(f"reversed_list: {reversed_list}")

Original list:[1, 2, 3, 4, 5]
reversed_list: [5, 4, 3, 2, 1]

### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

In [ ]:
def rotete_list(list,n):
    return list[n:]+list[:n]

original_list=[1,2,3,4,5]
roteted_list=rotete_list(original_list,2)
print(original_list)
print(roteted_list)

[1, 2, 3, 4, 5]
[3, 4, 5, 1, 2]

### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [ ]:
def intersection_list(lst1,lst2):
   return[x for x in lst1 if x in lst2]


list1=[1,2,3,4,5,6]
list2=[3,4,5,6,7,8]
intersection=intersection_list(list1,list2)
print(f"List 1:{list1}")
print(f"List 2:{list2}")
print(f"Intersection: {intersection}")

List 1:[1, 2, 3, 4, 5, 6]
List 2:[3, 4, 5, 6, 7, 8]
Intersection: [3, 4, 5, 6]

# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

# Module 3: Data Structures Assignments
## Lesson 3.4: Dictionaries
### Assignment 1: Creating and Accessing Dictionaries

Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.

In [ ]:
dis={x:x**2 for x in range(1,11)}
print(dis)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Assignment 2: Accessing Dictionary Elements

Print the value of the key 5 and the keys of the dictionary created in Assignment 1.

In [ ]:
print(f"value of key 5:{dis[5]}")
print(f"keys: {list(dis.keys())}")

value of key 5:25
keys: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Assignment 3: Dictionary Methods

Add a new key-value pair (11, 121) to the dictionary created in Assignment 1 and then remove the key-value pair with key 1. Print the modified dictionary.

In [ ]:
dis[11]=121
dis.pop(1)
print(dis)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

### Assignment 4: Iterating Over Dictionaries

Iterate over the dictionary created in Assignment 1 and print each key-value pair.

In [ ]:
for key,value in dis.items():
   print(f"{key}:{value}")

2:4
3:9
4:16
5:25
6:36
7:49
8:64
9:81
10:100
11:121

### Assignment 5: Dictionary Comprehensions

Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary.

In [ ]:
cubes={x:x**3 for x in range(1,11)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

### Assignment 6: Merging Dictionaries

Create two dictionaries: one with keys as the first 5 positive integers and values as their squares, and another with keys as the next 5 positive integers and values as their squares. Merge these dictionaries into a single dictionary and print it.

In [ ]:
dis1={x:x**2 for x in range(1,6)}
dis2={x:x**2 for x in range(6,11)}
merge_dis={**dis1,**dis2}
print(merge_dis)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
# one merge method 
dis1={x:x**2 for x in range(1,6)}
dis2={x:x**2 for x in range(6,11)}
dis1.update(dis2)
print(dis1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Assignment 7: Nested Dictionaries

Create a nested dictionary representing a student with keys 'name', 'age', 'grades', where 'grades' is another dictionary with keys 'math', 'science', and 'english'. Print the nested dictionary.

In [ ]:
student={
    "name":"Sanskar",
    "age":21,
    "grade":{"math":"A+",
             "science":"c",
             "english":"A"
            }
}
print(student)

{'name': 'Sanskar', 'age': 21, 'grade': {'math': 'A+', 'science': 'c', 'english': 'A'}}

### Assignment 8: Dictionary of Lists

Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiples of the key. Print the dictionary.

In [ ]:
multi={x:[x*j for j in range(1,6)] for x in range(1,6)}
print(multi)

{1: [1, 2, 3, 4, 5], 2: [2, 4, 6, 8, 10], 3: [3, 6, 9, 12, 15], 4: [4, 8, 12, 16, 20], 5: [5, 10, 15, 20, 25]}

### Assignment 9: Dictionary of Tuples

Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square. Print the dictionary.

In [ ]:
sqaure={x:(x,x**2) for x in range(1,6)}
print(sqaure)

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

### Assignment 10: Dictionary and List Conversion

Create a dictionary with the first 5 positive integers as keys and their squares as values. Convert the dictionary to a list of tuples and print it.

In [ ]:
dis={x:x**2 for x in range(1,6)}
list_of_tuples=list(dis.items())
print(list_of_tuples)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

### Assignment 11: Dictionary Filtering

Create a dictionary with the first 10 positive integers as keys and their squares as values. Create a new dictionary containing only the key-value pairs where the key is even. Print the new dictionary.

In [ ]:
des={x:x**2 for x in range(1,11)}
even_dis={key:value for key,value in des.items()if key%2==0} 
print(even_dis)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

### Assignment 12: Dictionary Key and Value Transformation

Create a dictionary with the first 5 positive integers as keys and their squares as values. Create a new dictionary with keys and values swapped. Print the new dictionary.

In [ ]:
# that swapped (key and value)
dis={x:x**2 for x in range(1,6)}
swapped={value:key for key,value in dis.items()}
print(swapped)

{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

### Assignment 13: Default Dictionary

Create a default dictionary where each key has a default value of an empty list. Add some elements to the lists and print the dictionary.

In [ ]:
from collections import defaultdict

default_dict = defaultdict(list)
default_dict['a'].append(1)
default_dict['a'].append(2)
default_dict['b'].append(3)
print(default_dict)

defaultdict(<class 'list'>, {'a': [1, 2], 'b': [3]})

### Assignment 14: Counting with Dictionaries

Write a function that takes a string and returns a dictionary with the count of each character in the string. Print the dictionary.

In [ ]:
def count_char(s):
    count_disc={}
    for char in s:
        count_disc[char]=count_disc.get(char,0)+1
    return count_disc

string="hello world"
print(count_char(string))

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

### Assignment 15: Dictionary and JSON

Create a dictionary representing a book with keys 'title', 'author', 'year', and 'genre'. Convert the dictionary to a JSON string and print it.

In [ ]:
import json

book={
    "title":"Rich dad poor dad",
    "author":"Robot kioske",
    "year":2003,
    "genre":"fiction"
}

book_json=json.dumps(book)
print(book_json)

{"title": "Rich dad poor dad", "author": "Robot kioske", "year": 2003, "genre": "fiction"}

In [ ]:
tpl=tuple(range(1,11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [ ]:
first,*middle,last=tpl
print("First element:",first)
print("Middle element:",tuple(middle))
print("last element:",last)

First element: 1
Middle element: (2, 3, 4, 5, 6, 7, 8, 9)
last element: 10

In [ ]:
print("first element:",tpl[0])
print("Middle element:",tpl[1:-1])
print("last element:",tpl[-1])

first element: 1
Middle element: (2, 3, 4, 5, 6, 7, 8, 9)
last element: 10

In [ ]:
print(f"first element:{tpl[0]}")
print(f"Middle element:{tpl[len(tpl) // 2]}")
print(f"last element:{tpl[-1]}")

first element:1
Middle element:6
last element:10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [ ]:
print(f"first three elements:{tpl[:3]}")
print(f"last three elements:{tpl[-3:]}")
print(f"elements from index 2 to 5:{tpl[2:6]}")

first three elements:(1, 2, 3)
last three elements:(8, 9, 10)
elements from index 2 to 5:(3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [ ]:
matrix=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print("matrix")
for mat in matrix:
    print(mat)
print(f"element at the second row and third column:{matrix[1][2]} ")

matrix
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
element at the second row and third column:6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [ ]:
tpl1=(1,2,3)
tpl2=(4,5,6)
convatenation=tpl1+tpl2
print("convatenation",convatenation)

convatenation (1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [ ]:
tpl=(1,2,3,3,4,5,5,6,7)
print(f"occurrences of 5: {tpl.count(5)}")
print(f"index of the first occurrence of an 3:{tpl.index(3)}")

occurrences of 5: 2
index of the first occurrence of an 3:2

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [ ]:
tpl=(1,2,3,4,5)
print(tpl)
print("unpack")
a,b,c,d,e=tpl
print(a,b,c,d,e)

(1, 2, 3, 4, 5)
unpack
1 2 3 4 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [ ]:
list=[1,2,3,4,5]
tpl=tuple(list)
print(tpl)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [ ]:
tpl_of_tpls=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print("tuple of tuples",tpl_of_tpls)

tuple of tuples ((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [ ]:
tpl = (1, 2, 3, 4, 5)
lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(tpl)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [ ]:
string="hello"
tpl=tuple(string)
joined_string=''.join(tpl)
print(joined_string)

hello

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [ ]:
student={
    ("First_rank","Sanskar"):96,
    ("Second_rank","Rohit"):89,
    ("third_rank","Madhav"):80
}
print(student)

{('First_rank', 'Sanskar'): 96, ('Second_rank', 'Rohit'): 89, ('third_rank', 'Madhav'): 80}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [ ]:
nested_tuples=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
for tpl in nested_tuples:
    for elem in tpl:
        print(elem)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [ ]:
dup_tpl=(1,2,3,4,4,4,5,6,7,7)
unique_set=set(dup_tpl)
print(unique_set)

{1, 2, 3, 4, 5, 6, 7}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [ ]:
def min_tuple(elem):
    return min(elem)

def max_tuple(elem):
    return max(elem)

def sum_of_tuple(elem):
    return sum(elem)

sample_tuple=(1,2,3,4,5,6)

min=min_tuple(sample_tuple)
max=max_tuple(sample_tuple)
sums=sum_of_tuple(sample_tuple)

print("Minimum:",min)
print("Maximum:",max)
print("Sum:",sums)



# samples=sample_tuple():

Minimum: 1
Maximum: 6
Sum: 21

#### Functions Examples

#### Example 1: Temperature Conversion

In [ ]:
def temperature_converesion(temp,unit):
    if unit=="c":
        return temp * 9/5 +32    ## celsios to fahrenheit
    elif unit=="f":
        return (temp - 32) * 9/5 ## fahrenheit to celsios
    else:
        return None
    
print(temperature_converesion(233.5,"c"))
print(temperature_converesion(23.5,"f"))

452.3
-15.3

##### Example 2: Password Strength Checker

In [ ]:
def is_strong_password(password):
    """This function checks if the password is strong or not"""
    if len(password)<8:
        return False
    # If the password length is less than 8, it is weak and returns False
    if not any(char.isdigit() for char in password):
        return False
    # If the password does not contain at least one digit (0-9), returns False
    if not any(char.islower() for char in password):
        return False
    # If the password does not contain at least one lowercase letter (a-z), returns False
    if not any(char.isupper() for char in password):
        return False
    # If the password does not contain at least one uppercase letter (A-Z), returns False
    if not any(char in '!@#$%^&*()_+' for char in password):
        return False
    # If the password does not contain any special characters from !@#$%^&*()_+, returns False
    return True

## calling the function
print(is_strong_password("WeakPwd"))
print(is_strong_password("Str0ngPwd!"))

False
True

##### Example 3: Calculate the Total Cost Of Items In a Shopping Cart

In [ ]:
def calculate_total_cost(cart):
    total_cost=0
    for item in cart:
        total_cost+=item['price']* item['quantity']

    return total_cost


## Example cart data

cart=[
    {'name':'Apple','price':0.5,'quantity':4},
    {'name':'Banana','price':0.3,'quantity':6},
    {'name':'Orange','price':0.7,'quantity':3}

]

## calling the function
total_cost=calculate_total_cost(cart)
print(total_cost)

5.8999999999999995

##### Example 4: Check IF a String Is Palindrome

In [ ]:
def is_palindrome(s):
    s=s.lower().replace(" ","") ## This for capital A and small a but even accpted in reverse 
    return s==s[::-1]

print(is_palindrome("A man a plan a canal Panama"))
print(is_palindrome("Hello"))

True
False

##### Example 5: Calculate the factorials of a number using recursion

In [ ]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n * factorial(n-1)
    
print(factorial(6))

720

##### Example 6: A Function To Read A File and count the frequency of each word

In [ ]:
def count_word_frequency(file_path):
    word_count={}
    with open(file_path,'r') as file:
        for line in file:
            words=line.split()
            for word in words:
                word=word.lower().strip('.,!?;:"\'')
                word_count[word]=word_count.get(word,0)+1
    
    return word_count

filepath='sample.txt'
word_frequency=count_word_frequency(filepath)
print(word_frequency)

{'hello': 1, 'world': 1, 'how': 1, 'are': 1, 'you': 1, 'my': 1, 'name': 1, 'is': 1, 'krish': 2}

##### Example 7: Validate Email Address

In [ ]:
import re

# Email validation function
def is_valid_email(email):
    """This function checks if the email is valid."""
    pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
    return re.match(pattern, email) is not None

# Calling the function
print(is_valid_email("test@example.com"))  # Output: True
print(is_valid_email("invalid-email"))  # Output: False

True
False

In [ ]:
def is_valid_email(email):
    return "@" in email and "." in email.split("@")[-1]

# Testing the function
print(is_valid_email("user@example.com"))  # True
print(is_valid_email("invalid-email"))     # False

True
False

In [ ]:
def valid_email(email):
    return "@" in email and "." in email 


print(valid_email("sanskar@gmail.com"))
print(valid_email("sanskarchoukse456"))
print(valid_email("sanskarchoukse975@gmail.com"))

True
False
True

In [ ]:
listed=[1,3,4,6,6,4]
cube=list(map(lambda x:x**3,listed))
print(cube)

In [ ]:
def add(a,b,c):
    return a+b+c
print(add(1,2,2))

In [ ]:
add=lambda a,b,c:a+b+c
print(add(1,2,2))

In [ ]:
### MAp multiple iterables

numbers1=[1,2,3]
numbers2=[4,5,6]

added_numbers=list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_numbers)

In [ ]:
## map() to convert a list of strings to integers
# Use map to convert strings to integers
str_numbers = ['1', '2', '3', '4', '5']
int_numbers = list(map(int, str_numbers))

print(int_numbers)  # Output: [1, 2, 3, 4, 5]

In [ ]:
words=['apple','banana','cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [ ]:
import pandas as pd
import numpy as np

# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Set the index to be the first column
df.set_index('A', inplace=True)
print("DataFrame with new index:")
print(df)

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [ ]:
# Create a Pandas DataFrame with specified columns and index
df = pd.DataFrame(np.random.randint(1, 100, size=(3, 3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
print("Original DataFrame:")
print(df)

# Access the element at row 'Y' and column 'B'
element = df.at['Y', 'B']
print("Element at row 'Y' and column 'B':", element)

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [ ]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Add a new column that is the product of the first two columns
df['D'] = df['A'] * df['B']
print("DataFrame with new column:")
print(df)

NameError: name 'pd' is not defined

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [ ]:
# Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Compute the row-wise and column-wise sum
row_sum = df.sum(axis=1)
column_sum = df.sum(axis=0)

print("Row-wise sum:")
print(row_sum)
print("Column-wise sum:")
print(column_sum)

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [ ]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)

# Fill the NaN values with the mean of the respective columns
df.fillna(df.mean(), inplace=True)
print("DataFrame with NaN values filled:")
print(df)

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [ ]:
# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[1, 2] = np.nan
df.iloc[3, 0] = np.nan
df.iloc[5, 1] = np.nan
print("DataFrame with NaN values:")
print(df)

# Drop the rows with any NaN values
df.dropna(inplace=True)
print("DataFrame with NaN values dropped:")
print(df)

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [ ]:
# Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'
df = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category
grouped = df.groupby('Category')['Value'].agg(['sum', 'mean'])
print("Grouped DataFrame:")
print(grouped)

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [ ]:
# Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'
df = pd.DataFrame({'Product': np.random.choice(['Prod1', 'Prod2', 'Prod3'], size=10), 'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Sales': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the total sales for each category
grouped = df.groupby('Category')['Sales'].sum()
print("Grouped DataFrame:")
print(grouped)

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [ ]:
# Create two Pandas DataFrames with a common column
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Merge the DataFrames using the common column
merged = pd.merge(df1, df2, on='Key')
print("Merged DataFrame:")
print(merged)

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [ ]:
# Create two Pandas DataFrames with different columns
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

# Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [ ]:
# Create a Pandas DataFrame with a datetime index and one column filled with random integers
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Resample the DataFrame to compute the monthly mean of the values
monthly_mean = df.resample('M').mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [ ]:
# Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31'
date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Compute the rolling mean with a window of 7 days
rolling_mean = df.rolling(window=7).mean()
print("Rolling mean DataFrame:")
print(rolling_mean)

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [ ]:
# Create a Pandas DataFrame with a MultiIndex (hierarchical index)
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Basic indexing and slicing operations
print("Indexing at Category 'A':")
print(df.loc['A'])

print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [ ]:
# Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'
arrays = [['A', 'A', 'B', 'B', 'C', 'C'], ['one', 'two', 'one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Compute the sum of values for each 'Category' and 'SubCategory'
sum_values = df.groupby(['Category', 'SubCategory']).sum()
print("Sum of values:")
print(sum_values)

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [ ]:
# Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'
date_rng = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D')
df = pd.DataFrame({'Date': np.random.choice(date_rng, size=20), 'Category': np.random.choice(['A', 'B', 'C'], size=20), 'Value': np.random.randint(1, 100, size=20)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'
pivot_table = df.pivot_table(values='Value', index='Date', columns='Category', aggfunc='sum')
print("Pivot Table:")
print(pivot_table)

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [ ]:
# Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'
df = pd.DataFrame({'Year': np.random.choice([2020, 2021, 2022], size=12), 'Quarter': np.random.choice(['Q1', 'Q2', 'Q3', 'Q4'], size=12), 'Revenue': np.random.randint(1, 1000, size=12)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'
pivot_table = df.pivot_table(values='Revenue', index='Year', columns='Quarter', aggfunc='mean')
print("Pivot Table:")
print(pivot_table)

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [ ]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Apply a function that doubles the values of the DataFrame
df_doubled = df.applymap(lambda x: x * 2)
print("Doubled DataFrame:")
print(df_doubled)

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [ ]:
# Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Apply a lambda function to create a new column that is the sum of the existing columns
df['Sum'] = df.apply(lambda row: row.sum(), axis=1)
print("DataFrame with Sum column:")
print(df)

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [ ]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

# Convert all the strings to uppercase
uppercase_data = text_data.str.upper()
print("Uppercase Series:")
print(uppercase_data)

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [ ]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

# Extract the first three characters of each string
first_three_chars = text_data.str[:3]
print("First three characters:")
print(first_three_chars)